% -*- mode: erlang -*- vim:ft=erlang:et
%{erl_opts, [debug_info, {d,debug}]}.
{deps, [
  {lager, ".*",
    {git, "https://github.com/basho/lager", {tag, "3.4.1"}}},
  {amqp_client, ".*",
    {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.6.2"}}},
  {bson, ".*",
    {git, "https://github.com/comtihon/bson-erlang.git", {tag, "v0.2.2"}}}
]}.
