% -*- mode: erlang -*- vim:ft=erlang:et
%{erl_opts, [debug_info, {d,debug}]}.
{deps, [
  {lager, "2.*",
    {git, "https://github.com/basho/lager", {tag, "2.0.3"}}},
  {amqp_client, ".*",
    {git, "git://github.com/si14/amqp_client.git", "ad6f224a65"}},
  {rabbit_common, ".*",
    {git, "https://github.com/tnt-dev/rabbit_common.git", "b4d0d603d1"}},
  {bson, ".*",
    {git, "https://github.com/comtihon/bson-erlang.git", "4f8021a2aa"}}
]}.
